.loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.loader-Default {
  border: 3px solid transparent;
  border-top: 3px solid #434db8;
  border-bottom: 3px solid #434db8;
  animation: loading 1.3s linear infinite;
  @keyframes loading {
    100% {
      transform: rotate(360deg); /* Rotate 360 degrees */
    }
  }
}

.loader-Loader1 {
  border: 3px solid transparent;
  border-top: 3px solid #434db8;

  border-right: 3px solid rgb(250, 71, 71);
  border-left: 3px solid rgb(250, 185, 64);
  border-bottom: 3px solid #434db8;
  animation: loading 1.3s linear infinite;
  display: inline-block;
  @keyframes loading {
    100% {
      transform: rotate(360deg); /* Rotate 360 degrees */
    }
  }
}

.loader-Loader2 {
  border-top: 4px solid #434db8;
  border-bottom: 4px solid #434db8;
  animation: loading 1.3s linear infinite;
  display: inline-block;
  @keyframes loading {
    100% {
      transform: rotate(360deg); /* Rotate 360 degrees */
    }
  }
}

.loader-Loader3 {
  border: 3px solid #cecdcd;
  border-top: 3px solid #434db8;
  animation: loading 1.3s linear infinite;
  display: inline-block;
  @keyframes loading {
    100% {
      transform: rotate(360deg); /* Rotate 360 degrees */
    }
  }
}

//inner loader
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-loader {
  display: inline-block;
  height: 17px;
  width: 17px;
  border: 3px solid transparent;
  // border-top-color: green;
  //   background-color: red;

  border-right: 3px solid #303aa2;
  border-left: 3px solid #303aa2;
  border-radius: 50%;
  animation: loading 0.7s linear infinite reverse;
  display: inline-block;
  @keyframes loading {
    100% {
      transform: rotate(360deg); /* Rotate 360 degrees */
    }
  }
}
