.button {
    width: auto;
    border-radius: 5px;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
  
    .primary {
      color: #434DB8;
      border: 1px solid #434DB8;
  
      &:hover {
        background-color: #434DB8;
        color: white;
      }
  
      &:active {
        background-color: #434DB8;
        color: white;
      }
  
      &:disabled {
        background-color: #434DB8;
        color: white;
        opacity: 0.5;
      }
    }
  
    .secondary {
      color: #808080;
      border: 1px solid #808080;
  
      &:hover {
        background-color: #808080;
        color: white;
      }
  
      &:active {
        background-color: #808080;
        color: white;
      }
  
      &:disabled {
        background-color: #808080;
        color: white;
        opacity: 0.5;
      }
    }
  
    .danger {
      color: #C50303;
      border: 1px solid #C50303;
  
      &:hover {
        background-color: #C50303;
        color: white;
      }
  
      &:active {
        background-color: #C50303;
        color: white;
      }
  
      &:disabled {
        background-color: #C50303;
        color: white;
        opacity: 0.5;
      }
    }
  
    .success {
      color: #5CA700;
      border: 1px solid #5CA700;
  
      &:hover {
        background-color: #5CA700;
        color: white;
      }
  
      &:active {
        background-color: #5CA700;
        color: white;
      }
  
      &:disabled {
        background-color: #5CA700;
        color: white;
        opacity: 0.5;
      }
    }
  
    .small {
      font-size: 12px;
      padding: 10px 16px;
    }
  
    .medium {
      font-size: 14px;
      padding: 11px 20px;
    }
  
    .large {
      font-size: 16px;
      padding: 12px 24px;
    }
  